body{
	background-color: whitesmoke;
	margin: 0px;
	width: 100%;
	min-width: 1000px;
}
a{
	text-decoration: none;
}
.bgimg{
	background-image: url("../image/backimg1.jpg");
	background-repeat: no-repeat;
	text-align: center;
}


.hd{
	display: block;
	min-height: 50px;
	position: fixed;
	right: 0;
	left:0;
	top: 0;
	z-index: 1000;                      <!--固定header，不让其滚动 -->
	background: rgba(0, 0, 0, 0.1);
}

.hd-container{
	display: block;
	width: 100%;
}

.changeHeader {
	background: rgba(0, 0, 0, 0.7);
}

.text-desg {
	font-family: 微软雅黑;
	font-size: 20px;
	color: whitesmoke;
	text-shadow: none;
	padding-left: 5%;
	float: left;
	position: relative;
}

.img-style {
	width: 30px;
	height: 30px;
	vertical-align: text-bottom;  <!-- 文字水平居中 -->
}

.div-style {
	float: right;
	padding-right: 5%;
}

div.div-style ul{
	list-style: none;
	margin: 0px;
}

div.div-style ul li{
	float: left;
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
	height: 60px;
	position: relative;
}

.a-style{
	display: block;
	padding-top: 20px;
	font-family: 微软雅黑;
	font-size: 15px;
	color: whitesmoke;
}

.a-style-11{
	padding-top: 0px;
}

.font-style{
	font-family: 微软雅黑;
	color: whitesmoke;
}

.li-bgc{
	background: rgba(47, 144, 241, 0.5);
}
.li-bgcOne{
	background: rgba(47, 144, 241, 0.5);
	font-family: 微软雅黑;
}
.li-bgcTwo{
	background: rgba(0, 0, 0, 0.7);
}

.li-style-3{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid whitesmoke
}
.li-style {
	display: block;
	
}

.h2-style {
	font-size: 20px;
	padding-top: 140px;
}

.bt-style {
	background: rgba(0, 0, 0, 0);
	border-radius: 2px;
	border: 1px solid #ffffff;
	padding: 8px 16px 8px 16px;
	margin-top: 30px;
	margin-bottom: 100px;
}

.bt-bgc{
	background: rgba(19, 20, 21, 0.5);
}

.div-style1 {
	/*float: right;*/
	/*width: 72%;*/
	/*padding-left: 13%;*/
	/*padding-right: 13%;*/
	/*position: absolute;*/
	display: block; min-width: 950px; width: 1000px;
}

.div-style2 {
	width: 45%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	display: inline;
	float: left
}

.clear {
	clear: both;
}

.li-one {
	float: left;
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
	height: 60px;
	position: relative;
}
#tab1:target, #tab2:target{
	z-index: 1;
}

.div-hide {
	display: none;
}

.div-style-1-2 {
	min-width: 1000px;
	width: 1000px;
	height: 100%;
	margin: 0 auto
}